<h2>Task 1: TFIDF Calculation (25 Points)</h2>
<p>Calculate the term frequency (tf), document frequency (df), inverse document frequency (idf), and the tf-idf frequency for the terms of all the documents contained in a given document collection file (collection1.txt) provided for this task.</p>
<p>Implement the required function.</p>
<h3>Tasks:</h3><ul>
<li>Write a Python function (calculate_tfidf) that parses a given document collection containing an arbitrary amount of terms and documents and calculates the corresponding frequencies.</li>
<li>The function should exhibit the following signature, where&nbsp;collection holds the path to the document collection to be analyzed and processed:
</li>
<li>Test your implementation using the following call on the provided document collections. The cell should output your results as a Pandas Dataframe. </li>

In [2]:
#import your own solution here 
%run Implementation.ipynb

table_tfidf = calculate_tfidf('../collection1.txt')
table_tfidf

../collection1.txt,sorted inv. term indices,overall tf,individual tf,df / idf,individual tf-idf
0,all,1,"[0, 0, 0, 0, 1]","[1, 0.6990]","[0.0000, 0.0000, 0.0000, 0.0000, 0.6990]"
1,did,2,"[0, 1, 0, 1, 0]","[2, 0.3979]","[0.0000, 0.3979, 0.0000, 0.3979, 0.0000]"
2,exam,5,"[0, 2, 1, 1, 1]","[4, 0.0969]","[0.0000, 0.1261, 0.0969, 0.0969, 0.0969]"
3,passed,1,"[0, 0, 0, 0, 1]","[1, 0.6990]","[0.0000, 0.0000, 0.0000, 0.0000, 0.6990]"
4,prepare,2,"[0, 1, 0, 1, 0]","[2, 0.3979]","[0.0000, 0.3979, 0.0000, 0.3979, 0.0000]"
5,so,1,"[0, 0, 0, 0, 1]","[1, 0.6990]","[0.0000, 0.0000, 0.0000, 0.0000, 0.6990]"
6,successful,1,"[0, 0, 0, 0, 1]","[1, 0.6990]","[0.0000, 0.0000, 0.0000, 0.0000, 0.6990]"
7,test,7,"[3, 1, 1, 2, 0]","[4, 0.0969]","[0.1431, 0.0969, 0.0969, 0.1261, 0.0000]"
8,the,9,"[2, 2, 2, 2, 1]","[5, 0.0000]","[0.0000, 0.0000, 0.0000, 0.0000, 0.0000]"
9,to,3,"[1, 1, 0, 1, 0]","[3, 0.2218]","[0.2218, 0.2218, 0.0000, 0.2218, 0.0000]"
10,was,3,"[1, 0, 1, 1, 0]","[3, 0.2218]","[0.2218, 0.0000, 0.2218, 0.2218, 0.0000]"
11,we,4,"[0, 1, 0, 1, 2]","[3, 0.2218]","[0.0000, 0.2218, 0.0000, 0.2218, 0.2886]"
12,were,1,"[0, 0, 0, 0, 1]","[1, 0.6990]","[0.0000, 0.0000, 0.0000, 0.0000, 0.6990]"

<div>
       <style scoped>
           .dataframe tbody tr th:only-of-type {
               vertical-align: middle;
           }
       
           .dataframe tbody tr th {
               vertical-align: top;
           }
       
           .dataframe thead th {
               text-align: right;
           }
       </style>
       <table border=\1\ class=\dataframe\>
         <thead>
           <tr style=\text-align: right;\>
             <th>../example.txt</th>
             <th>sorted inv. term indices</th>
             <th>overall tf</th>
             <th>individual tf</th>
             <th>df / idf</th>
             <th>individual tf-idf</th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <td>0</td>
             <td>an</td>
             <td>1</td>
             <td>[1, 0]</td>
             <td>[1, 0.3010]</td>
             <td>[0.3010, 0.0000]</td>
           </tr>
           <tr>
             <td>1</td>
             <td>another</td>
             <td>1</td>
             <td>[0, 1]</td>
             <td>[1, 0.3010]</td>
             <td>[0.0000, 0.3010]</td>
           </tr>
           <tr>
             <td>2</td>
             <td>example</td>
             <td>3</td>
             <td>[2, 1]</td>
             <td>[2, 0.0000]</td>
             <td>[0.0000, 0.0000]</td>
           </tr>
           <tr>
             <td>3</td>
             <td>is</td>
             <td>2</td>
             <td>[1, 1]</td>
             <td>[2, 0.0000]</td>
             <td>[0.0000, 0.0000]</td>
           </tr>
           <tr>
             <td>4</td>
             <td>this</td>
             <td>2</td>
             <td>[1, 1]</td>
             <td>[2, 0.0000]</td>
             <td>[0.0000, 0.0000]</td>
           </tr>
           <tr>
             <td>5</td>
             <td>yet</td>
             <td>1</td>
             <td>[0, 1]</td>
             <td>[1, 0.3010]</td>
             <td>[0.0000, 0.3010]</td>
           </tr>
         </tbody>
       </table>
       </div>

<div>
       <style scoped>
           .dataframe tbody tr th:only-of-type {
               vertical-align: middle;
           }
       
           .dataframe tbody tr th {
               vertical-align: top;
           }
       
           .dataframe thead th {
               text-align: right;
           }
       </style>
       <table border=\1\ class=\dataframe\>
         <thead>
           <tr style=\text-align: right;\>
             <th>../example.txt</th>
             <th>sorted inv. term indices</th>
             <th>overall tf</th>
             <th>individual tf</th>
             <th>df / idf</th>
             <th>individual tf-idf</th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <td>0</td>
             <td>an</td>
             <td>1</td>
             <td>[1, 0]</td>
             <td>[1, 0.3010]</td>
             <td>[0.3010, 0.0000]</td>
           </tr>
           <tr>
             <td>1</td>
             <td>another</td>
             <td>1</td>
             <td>[0, 1]</td>
             <td>[1, 0.3010]</td>
             <td>[0.0000, 0.3010]</td>
           </tr>
           <tr>
             <td>2</td>
             <td>example</td>
             <td>3</td>
             <td>[2, 1]</td>
             <td>[2, 0.0000]</td>
             <td>[0.0000, 0.0000]</td>
           </tr>
           <tr>
             <td>3</td>
             <td>is</td>
             <td>2</td>
             <td>[1, 1]</td>
             <td>[2, 0.0000]</td>
             <td>[0.0000, 0.0000]</td>
           </tr>
           <tr>
             <td>4</td>
             <td>this</td>
             <td>2</td>
             <td>[1, 1]</td>
             <td>[2, 0.0000]</td>
             <td>[0.0000, 0.0000]</td>
           </tr>
           <tr>
             <td>5</td>
             <td>yet</td>
             <td>1</td>
             <td>[0, 1]</td>
             <td>[1, 0.3010]</td>
             <td>[0.0000, 0.3010]</td>
           </tr>
         </tbody>
       </table>
       </div>

<li>Regarding the Dataframe, store the following values in separate columns:</li>
<ul>
<li>the sorted inverted term indices (vocabulary terms/tokens)</li>
<li>the overall term frequency</li>
<li>the individual term frequencies pertaining to each document</li>
<li>the document and inverse document frequency</li>
<li>the tf-idf values for each term and document</li>
</ul>
<li>The&nbsp;calculate_tfidf() function should return all results in the form of a Pandas dataframe&nbsp;</li><li>Store the function in a separate file called "calculate_tfidf.py"</li>
</ul>

Consider an example collection that looks like this:

<b> Doc1: this example is an example <br>
Doc2: this is yet another example </b>

Here is how your table output could look like:

<table align="left" border=\1\ class=\dataframe\>
         <thead>
           <tr style=\text-align: left;\>
             <th>sorted inv. term indices</th>
             <th>overall tf</th>
             <th>individual tf</th>
             <th>df / idf</th>
             <th>individual tf-idf</th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <td>an</td>
             <td>1</td>
             <td>[1, 0]</td>
             <td>[1, 0.3010]</td>
             <td>[0.3010, 0.0000]</td>
           </tr>
           <tr>
             <td>another</td>
             <td>1</td>
             <td>[0, 1]</td>
             <td>[1, 0.3010]</td>
             <td>[0.0000, 0.3010]</td>
           </tr>
           <tr>
             <td>example</td>
             <td>3</td>
             <td>[2, 1]</td>
             <td>[2, 0.0000]</td>
             <td>[0.0000, 0.0000]</td>
           </tr>
           <tr>
             <td>is</td>
             <td>2</td>
             <td>[1, 1]</td>
             <td>[2, 0.0000]</td>
             <td>[0.0000, 0.0000]</td>
           </tr>
           <tr>
             <td>this</td>
             <td>2</td>
             <td>[1, 1]</td>
             <td>[2, 0.0000]</td>
             <td>[0.0000, 0.0000]</td>
           </tr>
           <tr>
             <td>yet</td>
             <td>1</td>
             <td>[0, 1]</td>
             <td>[1, 0.3010]</td>
             <td>[0.0000, 0.3010]</td>
           </tr>
         </tbody>
       </table>

<h3>Remarks:</h3>
<ul>
<li>Lemmatization and tokenization methods do not need to be considered</li>
<li>Calculate the inverse document frequency using the logarithm to the base 10</li>
<li>Ideally, the&nbsp;calculate_tfidf&nbsp;function should work with document collections containing an arbitrary&nbsp;amount of documents and terms</li>
</ul>
<h3>Further Questions:</h3>
<p>Critically think about the following question and submit your answers in the PDF protocol</p>
<ol>
<li>What are the shortcomings of the raw term frequency calculation and how do they affect a retrieval system?</li>
<li>Evaluate the following statements:<br>
<p>Using a tf-idf weighting scheme, the weight of a term t in a document d is....&nbsp;<br><br>...lowest when t occurs many times in many documents&nbsp;<br>...highest when t occurs very often in all documents<br>...highest when t occurs many times in few documents<br>...growing when the occurrence&nbsp;of t increases proportionally with the amount of documents t occurs in</p>
</li>
<li>Why is a document-level statistic for term weighting to be preferred over a collection-wide statistic?</li>
</ol>
<p>&nbsp;</p>